$color-golden: #bdae82;

@font-face {
  font-family: "Merriweather";
  src: url("assets/fonts/Merriweather/Merriweather-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter/static/Inter-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter/static/Inter-Bold.ttf");
  font-weight: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
}

button,
button:active,
button:focus {
  outline: none;
  border: none;
}

body {
  background: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: white;
}

.burger {
  display: none;
}

.container {
  max-width: 1440px; /* change on max-width */
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0 20px;
  background: url(./assets/img/bg1.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
}

.logo {
  background-image: url("./assets/svg/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
  width: 50px;
  height: 50px;
}

.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.nav {
  margin-left: auto;
  margin-right: 15px;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  width: 475px;
  padding: 0;
  list-style-type: none;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 20px;
  line-height: 50px;
  transition: 0.3s ease-out;
}

.nav-link:hover {
  color: $color-golden;
}

.toogle-lng {
  width: 70px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  color: white;
  span {
    cursor: pointer;
  }
}

.active {
  color: $color-golden;
}

.main-container {
  background: #000;
}

/* section HERO */

.hero-container {
  display: flex;
  padding: 160px 80px 330px 80px;
  background-image: url("./assets/img/bg1.jpg");
  background-position: center -90px;
  background-repeat: no-repeat;
  letter-spacing: 0.5px;
}

.container-inner {
  width: 38%;
}

.title {
  margin: 0 0;
  font-family: "Merriweather", serif;
  font-style: normal;
  font-size: 60px;
  line-height: 120px;
}

.text {
  margin: 10px 0 25px 0;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: normal;
}

.btn {
  width: 220px;
  height: 55px;
  color: #000;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  cursor: pointer;
  transition: color ease-out 0.3s;
  background-color: transparent;
}

.btn-gold {
  background-color: $color-golden;
}

.btn-gold:hover {
  color: #fff;
}

.btn-transparent {
  border: 2px solid #bdae82;
  box-sizing: border-box;
  border-radius: 0px;
  color: $color-golden;
}

.btn-transparent:active,
.btn-transparent:focus {
  border: 2px solid $color-golden;
}

.btn-transparent:hover {
  color: #fff;
}

/* SKILLS section */

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20px 0 20px;
}

.title-wrapper {
  display: flex;
  justify-content: center;
  width: 50%;
  background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
}

.section-title {
  margin: 0;
  background-color: #000;
  padding: 0 20px;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: $color-golden;
}

.skills-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding-top: 60px;
}

.skill-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  height: 240px;
  background-position: top center;
  padding: 0 20px 7px 20px;

  h3 {
    margin-top: 23px;
  }
  p {
    font-size: 18px;
    line-height: 36px;
    text-align: center;
  }
}

.subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}

// PORTFOLIO section

.portfolio-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 60px 60px;
  text-align: center;
}

.portfolio-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px 25px;
}

/* VIDEO section */

.video-player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 705px;
  margin-top: 60px;
  background-image: url(./assets/img/video-player.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
}

.btn-play {
  position: absolute;
  width: 130px;
  height: 130px;
  border: none;
  background-color: transparent;
  background-image: url(./assets/svg/Play_hover.svg);
  background-size: contain;
  transition: 0.3s ease-out;
  cursor: pointer;
}

.btn-play:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

/* price-section */

.price-section {
  justify-content: space-between;
  padding-bottom: 100px;
}

.price-items {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: 25px;
}

.price-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 450px;
  height: 505px;
  border: 3px solid #bdae82;
  border-radius: 0px;
  padding: 27px 0;
}

.price-item__title {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
}

.price-item__price {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  color: $color-golden;
}

.price-item__description {
  margin-bottom: 15px;
}
.price-item__describe {
  display: block;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
}

/* contacts-section */

.contacts-section {
  align-items: end;
  padding-top: 60px;
  padding-bottom: 193px;
  background-image: url(./assets/img/bg-contacts.jpg);
}

.section-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  width: 100%;

  .section-title {
    padding: 0 0 42px 0;
    text-align: left;
    background-color: transparent;
  }

  .form__wrapper {
    width: 100%;
    max-width: 450px;
  }
}

.form {
  width: 100%;
  height: 325px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  input,
  textarea {
    width: 100%;
    padding-left: 20px;
    font-family: "Inter";
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #bdae82;
    border-radius: 0px;
  }

  input {
    height: 50px;
  }

  textarea {
    height: 100px;
  }
  /* Remove outline on the forms and links */
  input:active,
  input:hover,
  input:focus,
  textarea:active,
  textarea:hover,
  textarea:focus {
    outline: 0;
    outline-offset: 0;
  }
  textarea {
    resize: none;
  }

  ::placeholder {
    color: $color-golden;
  }

  .btn-contacts {
    margin-top: 10px;
  }
}

.contacts-section-inner {
  max-width: 450px;
  align-items: start;
}

/* footer-container */

.footer-container {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 0 20px;
}

.copyright {
  word-spacing: 15px;
}

.label {
  margin-left: 55px;
}
.social-list {
  display: flex;
}

.social-list__item {
  margin-right: 20px;
  cursor: pointer;
  transition: 0.5s ease-out;
}

.social-list__item:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.social-list__item:nth-of-type(1) {
  content: url(./assets/svg/inst1.svg);
}

.social-list__item:nth-of-type(2) {
  content: url(./assets/svg/fb1.svg);
}

.social-list__item:nth-of-type(3) {
  content: url(./assets/svg/tw1.svg);
}

.social-list__item:nth-of-type(4) {
  content: url(./assets/svg/pinterest1.svg);
  margin-right: 0;
}

.link {
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease-out;
}

.link:hover {
  color: $color-golden;
}

@media (max-width: 768px) {
  .header-container {
    overflow-x: hidden;
    padding: 0 60px 0 60px;
    background-size: auto 620px;
    background-position: -5px -30px;

    .toogle-lng {
      width: 82px;
      margin-right: 25px;
      margin-left: auto;
    }

    .burger {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50px;
      height: 30px;
      z-index: 3;

      .line {
        width: 50px;
        height: 3px;
        background: #fff;
        transition: all 0.3s ease-in-out;
      }
    }

    .burger:hover {
      cursor: pointer;
    }

    .burger.is-active {
      .line:nth-of-type(1) {
        transform: translateY(13px) rotate(45deg);
      }

      .line:nth-of-type(2) {
        opacity: 0;
      }

      .line:nth-of-type(3) {
        transform: translateY(-13px) rotate(-45deg);
      }
    }

    .nav-header {
      position: fixed;
      top: 0;
      right: -620px;
      z-index: 2;
      height: 100%;
      margin: 0;
      padding-top: 135px;
      padding-left: 125px;
      transition: all 0.5s ease-in-out;

      .nav-list {
        flex-direction: column;
      }
    }

    .nav-header.is-active {
      right: 0;
      background: #000;
      opacity: 0.9;
    }
  }

  .hero-container {
    height: 500px;
    padding: 80px 60px 150px 60px;
    background-size: auto 620px;
    background-position: -5px -121px;
    .hero-container-inner {
      max-width: 400px;
      height: 270px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .title {
      font-size: 32px;
      line-height: 64px;
      letter-spacing: normal;
    }

    .text {
      margin: 0 0 45px 0;
      line-height: normal;
    }
  }

  .section-title {
    font-size: 32px;
  }

  .container-inner {
    width: 70%;
  }

  .contacts-section {
    align-items: center;
    padding-bottom: 110px;
  }

  .contacts-section-inner {
    align-items: center;
  }

  .form {
    align-items: center;
  }

  .skills-container {
    padding-top: 80px;

    .skills-items {
      padding: 44px 40px 0 40px;

      .skill-item {
        width: 300px;
        height: 185px;
        margin-bottom: 55px;
        padding: 0 10px;

        .subtitle {
          margin-top: 0;
        }
        .text-small {
          line-height: 22px;
        }
      }
    }
  }

  .portfolio-container {
    padding-top: 105px;

    .portfolio-buttons {
      padding-top: 50px;
    }
  }

  .video-section {
    padding: 80px 0 0 0;

    .video-player {
      height: 420px;
      margin-top: 50px;
      background-size: auto 420px;
      background-position-x: -7px;

      .btn-play {
        width: 65px;
        height: 65px;
      }
    }
  }

  .price-section {
    padding-top: 80px;
    padding-bottom: 80px;

    .price-items {
      margin-top: 50px;
      gap: 50px;

      .price-item {
        width: 420px;

        .price-item__description {
          margin-bottom: 0;
          padding-bottom: 27px;
        }
      }
    }
  }

  .contacts-section {
    padding: 50px 0 110px 0;
    background-size: auto 600px;
    background-repeat: no-repeat;
    background-position: -233px 0;

    .section-title-contacts {
      padding-bottom: 32px;
    }
  }

  .footer-container {
    height: 190px;
    padding: 30px 0 35px 0;
    flex-direction: column;
    justify-content: space-between;

    .label {
      margin: 0;
      padding-bottom: 10px;
    }

    .social-list {
      padding: 0;
    }
  }
}

@media (max-width: 480px) {
  .nav-header.is-active {
    width: 100%;
    padding-left: 20px;
  }
  .header-container {
    padding: 0 20px;
  }
  .hero-container {
    padding: 80px 20px;

    .container-inner {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .title {
      font-size: 32px;
    }
  }
}
