$color-main: rgb(49, 49, 49);
$color-main-dark: rgb(41, 41, 41);
$color-main-light: rgb(170, 169, 169);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background: #000;
  font-family: "Roboto", sans-serif;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  columns: inherit;
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-container,
.footer-container {
  height: 80px;
  background: $color-main-dark;
  padding: 0 20px;
}

.main-container {
  background: rgb(49, 49, 49);
}

/* header */
.logo {
  width: 40px;
  height: 40px;

  path {
    fill: white;
  }
}
.form {
  .input {
    width: 300px;
    height: 40px;
    border: solid 2px $color-main-light;
    border-radius: 5px;
    padding: 0 10px;
    font-size: large;
    background: $color-main;
    color: white;
    outline: none;
  }

  input:focus {
    background: $color-main-light;
    color: $color-main-dark;
  }
}

/* main */
.main-container {
  min-height: calc(100vh - 160px);
}

/* footer */
.label .footer-link {
  display: block;
}

.link {
  color: white;
  transition: 0.3s;
}

.link:hover {
  color: $color-main-light;
}

.label svg {
  vertical-align: middle;
}

.label svg path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.label svg:hover path {
  fill: $color-main-light;
}
